/*NAVBAR*/

#nav-container {
  padding: 0;
  background-color: #f3f2ef;
}

.wrapper-nav {
  background-color: white;
  margin-bottom: 1rem;
}

.navbar {
  background-color: white !important;
}

#icons-container {
  justify-content: flex-end;
}
.brownColor {
  color: #915907;
  font-size: 13px;
}
#ul-nav {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  align-items: center;
  color: #6c757d;
  padding-left: 0px;
  /* font-size: 14px; */
  column-gap: 1rem;
  margin-bottom: 0px;
}

#ul-nav > li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ul-nav > li > img {
  transform: translateX(5px);
  margin-bottom: -7px;
}

#search > div > input {
  background-color: #e9ecef;
  border: 0px solid transparent;
}

#inputGroup-sizing-sm {
  border: 1px solid transparent;
}

.form-control:focus {
  box-shadow: none;
}
.bi-house-door-fill,
.bi-people-fill,
.bi-briefcase-fill,
.bi-chat-dots-fill,
.bi-bell-fill,
.bi-grid-3x3-gap-fill {
  font-size: 19px;
}
.bi-search {
  font-size: 14px;
}
.searchPadding {
  padding-right: 10rem !important;
}

.toBlack:hover {
  color: black !important;
}
#user-icon {
  width: 28px;
  border-radius: 50%;
  font-size: 14px;
}

/*ADDING RESPONSIVNESS*/

@media only screen and (max-width: 1000px) {
  #ul-nav > li > span {
    display: none;
  }

  .text-dark > span {
    display: none;
  }
}
/* // */
@media only screen and (max-width: 1000px) {
  .brownColor {
    display: none;
  }
  nav {
    justify-content: start;
  }

  .searchPadding {
    padding-right: 3rem !important;
  }
  .spanNavLinks {
    font-size: 12px !important;
  }
  #icons-container {
    justify-content: flex-end;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  #icons-container {
    justify-content: flex-end;
    margin-left: 1rem;
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .bi-caret-down-fill {
    display: none;
  }
  .spanNavLinks {
    display: none;
  }
}

/* // */

@media only screen and (max-width: 768px) {
  #search > div > input {
    display: none;
  }

  #inputGroup-sizing-sm {
    background-color: transparent;
  }
}

@media only screen and (max-width: 425px) {
  #ul-nav > span {
    display: none;
  }

  #ul-nav > li:nth-of-type(6) {
    display: none;
  }
  #ul-nav > li:nth-of-type(7) {
    display: none;
  }
}
