/*NAVBAR*/

#nav-container {
  padding: 0;
  background-color: #f3f2ef;
 
}

.wrapper-nav {
   min-width: 100vw;
   background-color: white;
   margin-bottom: 1rem;
}

.navbar {
  background-color: white !important;
  
}

#icons-container {
  justify-content: flex-end;
}

  #ul-nav {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  align-items: center;
  color: #6c757d;
  padding-left: 0px;
  font-size: 14px;
  column-gap: 1rem;
  margin-bottom: 0px;
}

#ul-nav > li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ul-nav > li > img {
  transform: translateX(5px);
  margin-bottom: -7px;
}

#search > div > input {
  background-color: #E9ECEF;
  border: 0px solid transparent;
 
}

#inputGroup-sizing-sm {
  border: 1px solid transparent;
}

.form-control:focus {
  box-shadow:none;
}

#user-icon {
width:28px;
border-radius:50%;

}
